# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo



### certainly to be removed in future
other/
ignore/
MILP_formulation_out.txt
analysis_*.ipynb
run_on_*.sh
*_runtime.pdf

### to keep for now
dataset_D1_out/
dataset_D1_out_UB1/
dataset_D1_out_UB2/
dataset_D2_out/
create_csv_D1.py
create_csv_D2.py

.vscode/
.venv/
build/
bin/
compile.sh